@model Varo.Web.Models.ConsultoriaViewModel

<div class="v-formulario">
    <div class="v-selector readOnly">
        <div class="table-wrapper wrapperLeft">
            <div class="table-title">
                <div class="row">
                    <div class="col m12 l12">
                        <h2><strong>@Recursos.Lenguaje.InformacionGeneral</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="proyecto">@Recursos.Lenguaje.Nombre</label>
                        @Html.EditorFor(model => model.NombreProyecto,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="proyecto">@Recursos.Lenguaje.Estado</label>
                        @Html.EditorFor(model => model.Estado.Nombre,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.Oficina</label>
                        @Html.EditorFor(model => model.Oficina.Nombre,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="proyecto">@Recursos.Lenguaje.Gerente</label>
                        @Html.EditorFor(model => model.NombreGerente,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="proyecto">@Recursos.Lenguaje.Consultor </label>
                        @Html.EditorFor(model => model.NombreConsultor,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m12 l12">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.DescripcionProposito</label>
                        @Html.EditorFor(model => model.Descripcion,
                            new { htmlAttributes = new { @class = "form-control textarea-sinscroll" } })
                    </div>
                </div>
                <div class="col m12 l12">
                    <div class="form-group">
                        <label for="proyecto">@Recursos.Lenguaje.Observacion </label>
                        @Html.EditorFor(model => model.Observacion,
                            new { htmlAttributes = new { @class = "form-control textarea-sinscroll" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper wrapperLeft">
            <div class="table-title">
                <div class="row">
                    <div class="col m12 l12">
                        <h2><strong>@Recursos.Lenguaje.InformacionDelCliente</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.Cliente</label>
                        @Html.EditorFor(model => model.Cliente.Name,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.NombreDelContacto</label>
                        @Html.EditorFor(model => model.NombreContactoCliente,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.Correo</label>
                        @Html.EditorFor(model => model.CorreoContactoCliente,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m4 l4">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.Telefono</label>
                        @Html.EditorFor(model => model.TelefonoContactoCliente,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper wrapperLeft">
            <div class="table-title">
                <div class="row">
                    <div class="col m12 l12">
                        <h2><strong>@Recursos.Lenguaje.Tipificacion</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6 l6">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.LineaDeConsultoria</label>
                        @Html.EditorFor(model => model.LineaConsultoria.Nombre,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col m6 l6">
                    <div class="form-group">
                        <label for="gerente">@Recursos.Lenguaje.LineaDeNegocio</label>
                        @Html.EditorFor(model => model.LineaNegocio.Nombre,
                            new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>