@model Varo.Web.Models.MetricasViewModel

<div class="table-title">
    <div class="row">
        <div class="col m12 l12">
            <h2><strong>@Recursos.Lenguaje.DefectosExternos</strong></h2>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col m2 l2">
        <label for="ReportadosDefectos">@Recursos.Lenguaje.Reportados</label>
        @Html.EditorFor(model => model.defectosExternosViewModel.ReportadosDefectos,
            new { htmlAttributes = new { @class = "form-control validarEnteros" } })
        @Html.ValidationMessageFor(model => model.defectosExternosViewModel.ReportadosDefectos, null,
            new { @class = "text-danger" })
    </div>
    <div class="col m2 l2">
        <label for="CerradosDefectos">@Recursos.Lenguaje.Cerrados</label>
        @Html.EditorFor(model => model.defectosExternosViewModel.CerradosDefectos,
            new { htmlAttributes = new { @class = "form-control validarEnteros" } })
        @Html.ValidationMessageFor(model => model.defectosExternosViewModel.CerradosDefectos, null,
            new { @class = "text-danger" })
    </div>
    <div class="col m2 l2">
        <label for="ActualesDefectos">@Recursos.Lenguaje.Actuales</label>
        @Html.EditorFor(model => model.defectosExternosViewModel.ActualesDefectos,
            new { htmlAttributes = new { @readonly = "readonly", @style = "color: #666" } })
    </div>
    <div class="col m2 l2">
        <label for="AbiertosDefectos">@Recursos.Lenguaje.Abiertos</label>
        @Html.EditorFor(model => model.defectosExternosViewModel.AbiertosDefectos,
            new { htmlAttributes = new { @class = "form-control validarEnteros" } })
        @Html.ValidationMessageFor(model => model.defectosExternosViewModel.AbiertosDefectos, null,
            new { @class = "text-danger" })
    </div>
    <div class="col m2 l2">
        <label for="DensidadDefectosExternos">@Recursos.Lenguaje.Densidad</label>
        @Html.TextBoxFor(model => model.defectosExternosViewModel.DensidadDefectosExternos, 
            new { @readonly = "readonly", @class = "itemDetalleHistoriasUsuario", @style = "color: #666" })
    </div>
    <div class="col m2 l2">
        <label for="ObservacionesDefectos">@Recursos.Lenguaje.Observaciones</label>
        @Html.TextAreaFor(model => model.defectosExternosViewModel.ObservacionesDefectos,
            new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.defectosExternosViewModel.ObservacionesDefectos, null,
            new { @class = "text-danger" })
    </div>
</div>